@charset "utf-8";

@import 'style.scss';


.access {
  background-image: url(../img/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6rem 0 11rem;

  h2 {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2;
    margin: 1rem 0;

    @include mpc {
      line-height: 1.4;
    }

    @media screen and (max-width: 950px) {
      line-height: 2;
    }
  }

  p {
    font-size: 1.6rem;
    font-weight: 200;
    line-height: 2;

    @include mpc {
      line-height: 1.4;
    }

    @media screen and (max-width: 950px) {
      line-height: 2;
    }

    .access-smallDone {
      display: none;

      @include mpc {
        display: block;
      }

      @media screen and (max-width: 950px) {
        display: none;

      }
    }
  }

  span {
    font-size: 1.6rem;
    font-weight: 200;
    line-height: 2;

    @include mpc {
      line-height: 1.4;
    }

    @media screen and (max-width: 950px) {
      line-height: 2;
    }
  }

  .access-container {
    width: 118rem;
    margin: 0 auto;

    @include mpc {
      width: 90%;
    }

    .access-logo-box {
      text-align: center;
      margin-bottom: 2rem;

      img {
        width: 4rem;
        height: 4rem;

        @media screen and (max-width: 800px) {
          width: 3.5rem;
          height: 3.5rem;
        }

        @media screen and (max-width: 561px) {
          width: 3rem;
          height: 3rem;
        }
      }
    }

    .access-title-box {
      text-align: center;

      h1 {
        font-size: 3.6rem;
        font-weight: 200;
        line-height: 0.9;

        @media screen and (max-width: 800px) {
          font-size: 3rem;
        }

        @media screen and (max-width: 561px) {
          font-size: 2.5rem;
        }
      }
    }

    .access-top {
      display: flex;
      margin-top: 8.4rem;

      @media screen and (max-width: 950px) {
        display: block;
        text-align: center;
      }

      .access-img {

        img {
          width: 65.6rem;
          height: 37rem;

          @include mpc {
            width: 45vw;
            height: auto;
          }

          @media screen and (max-width: 950px) {
            width: 80vw;
          }
        }
      }

      .access-text-box {
        margin-left: 8.3rem;

        @include mpc {
          margin-left: 5rem;
        }

        @media screen and (max-width: 950px) {
          margin-left: 0;
          margin-top: 3rem;
        }
      }

      .access-opening {

        .access-opening-hours {
          margin-bottom: 1rem;
        }

        .access-opening-caution {
          line-height: 2;

          @include mpc {
            line-height: 1.4;
          }

          @media screen and (max-width: 950px) {
            line-height: 2;
          }
        }
      }
    }

    .access-bottom {
      padding-top: 6.9rem;

      .access-map {
        position: relative;
        width: 100%;
        padding-top: 75%;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
