@charset "utf-8";

@import 'style.scss';

.concept {
  background-image: url(../img/bg.jpg);
  width: 100%;
  height: 68.1em;
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: relative;

  .concept-text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .concept-title-textbox {

      .concept-title-text1 {
        font-size: 2.8em;
        font-weight: 100;
        line-height: 1.5;
        color: #000000;
      }

      .concept-title-text2 {
        font-size: 2.8em;
        font-weight: 100;
        line-height: 1.5;
        color: #000000;
      }
    }

    .concept-textbox1 {

      .concept-textbox1-text1 {
        font-size: 1.6em;
        font-weight: 100;
        line-height: 1.38;
        color: #000000;
      }

      .concept-textbox1-text2 {
        font-size: 1.6em;
        font-weight: 100;
        line-height: 1.38;
        color: #000000;
      }

      .concept-textbox1-text3 {
        font-size: 1.6em;
        font-weight: 100;
        line-height: 1.38;
        color: #000000;
      }
    }

    .concept-textbox2 {

      .concept-textbox2-text1 {
        font-size: 1.6em;
        font-weight: 100;
        line-height: 1.38;
        color: #000000;
      }

      .concept-textbox2-text2 {
        font-size: 1.6em;
        font-weight: 100;
        line-height: 1.38;
        color: #000000;
      }

      .concept-textbox2-text3 {
        font-size: 1.6em;
        font-weight: 100;
        line-height: 1.38;
        color: #000000;
      }
    }

    .concept-textbox3 {

      .concept-textbox3-text1 {
        font-size: 1.6em;
        font-weight: 100;
        line-height: 1.38;
        color: #000000;
      }

      .concept-textbox3-text2 {
        font-size: 1.6em;
        font-weight: 100;
        line-height: 1.38;
        color: #000000;
      }

      .concept-textbox3-text3 {
        font-size: 1.6em;
        font-weight: 100;
        line-height: 1.38;
        color: #000000;
      }
    }

    .concept-sign {
      font-size: 2.2em;
      font-weight: 100;
      line-height: 1.45;
      color: #000000;
    }
  }
}
