@charset "utf-8";

@import 'style.scss';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  padding: 2em;
  position: fixed;
  z-index: 20;
  left: 0;
  right: 0;

  @include sspc {
    height: 5em;
    padding: 1em;
  }

  .header-left {

    a {
      display: flex;
      align-items: center;

      h1 {
        font-size: 3.2em;
        font-weight: bold;
        line-height: 1.5;
        letter-spacing: 0.18em;
        color: #FFFFFF;

        &::before {
          content: "";
          display: inline-block;
          width: 1em;
          height: 1em;
          background: url(../img/logo01.png) no-repeat;
          background-size: contain;
          padding-right: 0.5em;
          vertical-align: text-bottom;
        }

        @include sspc {
          font-size: 3em;
          font-weight: bold;
          line-height: 1.7;
          letter-spacing: 0.09em;
        }
      }
    }
  }

  .header-pc-nav {
    display: flex;
    justify-content: space-between;
    width: 70%;

    @include sspc {
      display: none;
    }

    .header-pc-center {
      width: 19.8em;

      .header-pc-menu {
        display: flex;
        justify-content: space-between;

        .header-pc-room {

          a {
            color: #FFFFFF;
            font-size: 1.6em;
            font-weight: bold;
            line-height: 3;
          }
        }

        .header-pc-food {

          a {
            color: #FFFFFF;
            font-size: 1.6em;
            font-weight: bold;
            line-height: 3;
          }
        }

        .header-pc-spa {

          a {
            color: #FFFFFF;
            font-size: 1.6em;
            font-weight: bold;
            line-height: 3;
          }
        }
      }
    }

    .header-pc-right {

      a {
        display: block;

        .header-pc-booking-inner {
          width: 17em;
          height: 5.4em;
          background-color: #978F10;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 2em;
            height: 2em;
            padding-right: 1em;
          }

          p {
            font-size: 1.6em;
            font-weight: bold;
            line-height: 3;
            color: #FFFFFF;
          }
        }
      }
    }
  }

  .header-sp-nav {
    display: none;

    @include sspc {
      width: 30%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.16);
      transition: 0.3s;
      position: fixed;
      z-index: 20;
      top: 7em;
      right: -40%;
    }

    .header-sp-menu {

      &:first-child {
        margin-top: 20px;
      }

      .header-sp-menu-list {

        a {
          display: block;
          font-size: 21px;
          color: #FFFFFF;
          padding: 1em;
        }
      }
    }
  }

  .header-sp-nav.open {
    right: 0;
  }

  .ham {
    display: none;
    width: 5em;
    height: 5em;
    cursor: pointer;
    position: relative;

    @include sspc {
      display: block;
    }

    .ham-line {
      position: absolute;
      left: 1em;
      width: 3em;
      height: 0.2em;
      background-color: #FFFFFF;
      transition: all 0.3s;
    }

    .ham-line1 {
      top: 1.3em;
    }

    .ham-line1.open {
      transform: rotate(45deg);
      top: 2em;
    }

    .ham-line2 {
      top: 2.4em;
    }

    .ham-line2.open {
      width: 0;
    }

    .ham-line3 {
      top: 3.5em;
    }

    .ham-line3.open {
      transform: rotate(-45deg);
      top: 2em;
    }
  }
}

header.scroll-nav {
  background-color: #FFFFFF;

  .header-left {

    a {

      h1 {
        color: #000000;

        &::before {
          content: "";
          display: inline-block;
          width: 1em;
          height: 1em;
          background: url(../img/logo02.png) no-repeat;
          background-size: contain;
          padding-right: 0.5em;
          vertical-align: text-bottom;
        }
      }
    }
  }

  .header-pc-nav {

    .header-pc-center {

      .header-pc-menu {

        .header-pc-room {

          a {
            color: #000000;
          }
        }

        .header-pc-food {

          a {
            color: #000000;
          }
        }

        .header-pc-spa {

          a {
            color: #000000;
          }
        }
      }
    }
  }

  .header-sp-nav {

    .header-sp-menu {

      .header-sp-menu-list {

        a {
          // color: #000000;
        }
      }
    }
  }

  .ham {

    .ham-line {
      background-color: #000000;
    }
  }
}
