@charset "utf-8";

@import 'style.scss';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 2rem;
  position: fixed;
  z-index: 20;
  left: 0;
  right: 0;

  @include sspc {
    height: 5rem;
    padding: 1rem;
  }

  .header-left {

    .header-logo {

      h1 {

        a {

          display: block;
          font-size: 3.2rem;
          font-weight: bold;
          line-height: 1.5;
          letter-spacing: 0.18rem;
          color: #FFFFFF;
          padding-bottom: 1rem;

          &::before {
            content: "";
            display: inline-block;
            width: 4rem;
            height: 4rem;
            background: url(../img/logo01.png) no-repeat;
            background-size: contain;
            position: relative;
            top: 0.8rem;
            padding-left: 1rem;

            @media screen and (max-width: 450px) {
              width: 3rem;
              height: 3rem;
              top: 0.5rem;
              padding-left: 0.5rem;
            }

            @media screen and (max-width: 400px) {
              width: 2.8rem;
              height: 2.8rem;
              top: 0.4rem;
            }

            @media screen and (max-width: 360px) {
              width: 2.4rem;
              height: 2.4rem;
              top: 0.3rem;
              padding-left: 0.3rem;
            }
          }

          @media screen and (max-width: 450px) {
            font-size: 2.6rem;
          }

          @media screen and (max-width: 400px) {
            font-size: 2.6rem;
          }

          @media screen and (max-width: 360px) {
            font-size: 2.2rem;
          }
        }
      }
    }
  }
}

.header-pc-nav {
  display: flex;
  justify-content: space-between;
  width: 85%;

  @media screen and (max-width: 1550px) {
    width: 80%;
  }

  @media screen and (max-width: 1100px) {
    width: 75%;
  }

  @include sspc {
    display: none;
  }

  .header-pc-center {
    width: 19.8rem;

    .header-pc-menu {
      display: flex;

      .header-pc-room {

        a {
          color: #FFFFFF;
          font-size: 1.6rem;
          font-weight: bold;
          line-height: 3;
          margin-right: 3rem;

          @media screen and (max-width: 1400px) {
            margin-right: 2rem;
          }
        }
      }

      .header-pc-food {

        a {
          color: #FFFFFF;
          font-size: 1.6rem;
          font-weight: bold;
          line-height: 3;
          margin-right: 3rem;

          @media screen and (max-width: 1400px) {
            margin-right: 2rem;
          }
        }
      }

      .header-pc-spa {

        a {
          color: #FFFFFF;
          font-size: 1.6rem;
          font-weight: bold;
          line-height: 3;
        }
      }
    }
  }

  .header-pc-right {

    a {
      display: block;

      .header-pc-booking-inner {
        width: 17rem;
        height: 5.4rem;
        background-color: #978F10;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 2rem;
          height: 2rem;
          padding-right: 1rem;
        }

        p {
          font-size: 1.6rem;
          font-weight: bold;
          line-height: 3;
          color: #FFFFFF;
        }
      }
    }
  }

  .modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;

    .modal-bg {
      background: rgba(0, 0, 0, 0.8);
      height: 100vh;
      position: absolute;
      width: 100%;
      z-index: 40;

      .modal-contents {
        background: #FFFFFF;
        padding: 1rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 40%;

        form {
          padding: 3rem;
          font-size: 1.6rem;
          color: #333;
          position: relative;

          .js-modal-close {
            position: absolute;
            top: -0.2rem;
            right: 0;
            font-weight: bold;
            font-size: 3rem;
            color: #333;
          }

          .form-title {
            font-size: 1.7rem;
            text-align: center;
            border-bottom: 0.7px solid #e8e8e8;
            padding-bottom: 0.5rem;
            margin-bottom: 1rem;
          }

          .name {
            padding: 0.7rem 0;

            label {
              display: block;
              padding-bottom: 0.5rem;
            }

            input {
              border: 0.1rem solid #ccc;
              padding: 0.5rem;
              width: 100%;
              margin: 0 auto;
              display: block;
              box-sizing: border-box;
            }
          }

          .mail {
            padding: 0.7rem 0;

            label {
              display: block;
              padding-bottom: 0.5rem;
            }

            input {
              border: 1px solid #ccc;
              padding: 0.5rem;
              width: 100%;
              margin: 0 auto;
              display: block;
              box-sizing: border-box;
            }
          }

          .form-select {
            padding: 0.7rem 0;
            display: block;
            position: relative;
            width: 100%;
            overflow: hidden;

            &::after {
              position: absolute;
              display: block;
              content: '';
              width: 0;
              height: 0;
              border-top: 0.6rem solid transparent;
              border-left: 0.6rem solid transparent;
              border-right: 0.6rem solid transparent;
              border-top: 0.6rem solid #ccc;
              top: 50%;
              right: 1rem;
              margin-top: 1rem;
              pointer-events: none;
            }

            .select-title {
              padding-bottom: 0.5rem;
            }

            select {
              border: 1px solid #ccc;
              padding: 0.5rem;
              width: 100%;
              margin: 0 auto;
              display: block;
              color: #757575;
              position: relative;

              /* ie9対策 */
              &:not(:target) {
                width: 120% \9;
              }

              option {
                display: block;
                width: 100%;
              }
            }
          }

          .calendar {
            padding: 0.7rem 0;

            .calendar-title {
              padding-bottom: 0.5rem;
            }

            input {
              border: 1px solid #ccc;
              padding: 0.5rem;
              width: 100%;
              margin: 0 auto;
              display: block;
              box-sizing: border-box;
            }
          }

          .submit {
            text-align: center;
            margin-top: 2rem;

            input {
              border: 1px solid #ccc;
              padding: 0.4rem 5rem;
              color: #333;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

.header-sp-right {

  display: none;

  @include sspc {

    display: flex;
  }

  .header-sp-nav {
    margin-right: 2rem;

    @media screen and (max-width: 450px) {
      margin-right: 0;
    }

    .header-sp-menu {
      display: none;

      @include sspc {
        width: 30%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.16);
        transition: 0.3s;
        position: fixed;
        z-index: 20;
        top: 7rem;
        right: -40%;
      }

      &:first-child {
        padding-top: 2rem;
      }

      .header-sp-menu-list {

        a {
          display: block;
          font-size: 2.1rem;
          color: #FFFFFF;
          padding: 1rem;
        }
      }
    }

    .header-sp-right-right {
      display: flex;

      .header-sp-booking {

        a {
          display: block;

          .header-sp-booking-inner {
            width: 13rem;
            height: 4.4rem;
            background-color: #978F10;
            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (max-width: 400px) {
              width: 11rem;
              height: 4.2rem;
              position: relative;
              top: 0.2rem;
            }

            img {
              width: 2rem;
              height: 2rem;
              padding-right: 1rem;
            }

            p {
              font-size: 1.6rem;
              font-weight: bold;
              line-height: 3;
              color: #FFFFFF;
            }
          }
        }
      }

      .ham {
        display: none;
        width: 5rem;
        height: 5rem;
        cursor: pointer;
        position: relative;
        margin-left: 1rem;

        @include sspc {
          display: block;
        }

        @media screen and (max-width: 350px) {
          margin-left: 0;
        }

        .ham-line {
          position: absolute;
          left: 1rem;
          width: 3rem;
          height: 0.2rem;
          background-color: #FFFFFF;
          transition: all 0.3s;
        }

        .ham-line1 {
          top: 0.7rem;
        }

        .ham-line1.open {
          transform: rotate(45deg);
          top: 2rem;
        }

        .ham-line2 {
          top: 1.9rem;
        }

        .ham-line2.open {
          width: 0;
        }

        .ham-line3 {
          top: 3.2rem;
        }

        .ham-line3.open {
          transform: rotate(-45deg);
          top: 2rem;
        }
      }
    }

  }

  .header-sp-menu.open {
    right: 0;
  }

  .modal-sp {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;

    .modal-sp-bg {
      background: rgba(0, 0, 0, 0.8);
      height: 100vh;
      position: absolute;
      width: 100%;
      z-index: 40;

      .modal-sp-contents {
        background: #FFFFFF;
        padding: 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;

        form {
          padding: 3rem;
          font-size: 1.6rem;
          color: #333;
          position: relative;

          .js-modal-sp-close {
            position: absolute;
            top: -0.2rem;
            right: 0;
            font-weight: bold;
            font-size: 3rem;
            color: #333;
          }

          .form-title {
            font-size: 1.7rem;
            text-align: center;
            border-bottom: 0.7px solid #e8e8e8;
            padding-bottom: 0.5rem;
            margin-bottom: 1rem;
          }

          .name {
            padding: 0.7rem 0;

            label {
              display: block;
              padding-bottom: 0.5rem;
            }

            input {
              border: 1px solid #ccc;
              padding: 0.5rem;
              width: 100%;
              margin: 0 auto;
              display: block;
              box-sizing: border-box;
            }
          }

          .mail {
            padding: 0.7rem 0;

            label {
              display: block;
              padding-bottom: 0.5rem;
            }

            input {
              border: 1px solid #ccc;
              padding: 0.5rem;
              width: 100%;
              margin: 0 auto;
              display: block;
              box-sizing: border-box;
            }
          }

          .form-select {
            padding: 0.7rem 0;
            display: block;
            position: relative;
            width: 100%;
            overflow: hidden;

            &::after {
              position: absolute;
              display: block;
              content: '';
              width: 0;
              height: 0;
              border-top: 0.6rem solid transparent;
              border-left: 0.6rem solid transparent;
              border-right: 0.6rem solid transparent;
              border-top: 0.6rem solid #ccc;
              top: 50%;
              right: 1rem;
              margin-top: 1rem;
              pointer-events: none;
            }

            .select-title {
              padding-bottom: 0.5rem;
            }

            select {
              border: 1px solid #ccc;
              padding: 0.5rem;
              width: 100%;
              margin: 0 auto;
              display: block;
              color: #757575;
              position: relative;

              /* ie9対策 */
              &:not(:target) {
                width: 120% \9;
              }

              option {
                display: block;
                width: 100%;
              }
            }
          }

          .calendar {
            padding: 0.7rem 0;

            .calendar-title {
              padding-bottom: 0.5rem;
            }

            input {
              border: 1px solid #ccc;
              padding: 0.5rem;
              width: 100%;
              margin: 0 auto;
              display: block;
              box-sizing: border-box;
            }
          }

          .submit {
            text-align: center;
            margin-top: 2rem;

            input {
              border: 1px solid #ccc;
              padding: 0.4rem 5rem;
              color: #333;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

header.scroll-nav {
  background-color: #FFFFFF;

  .header-left {

    .header-logo {

      h1 {

        a {

          display: block;
          font-size: 3.2rem;
          font-weight: bold;
          line-height: 1.5;
          letter-spacing: 0.18rem;
          color: #000000;

          &::before {
            content: "";
            display: inline-block;
            width: 4rem;
            height: 4rem;
            background: url(../img/logo02.png) no-repeat;
            background-size: contain;
            position: relative;
            top: 0.7rem;
            padding-left: 1rem;

            @media screen and (max-width: 450px) {
              width: 3rem;
              height: 3rem;
              top: 0.5rem;
              padding-left: 0.5rem;
            }

            @media screen and (max-width: 400px) {
              width: 2.8rem;
              height: 2.8rem;
              top: 0.4rem;
            }
          }

          @media screen and (max-width: 450px) {
            font-size: 2.6rem;
          }

          @media screen and (max-width: 400px) {
            font-size: 2.4rem;
          }
        }
      }
    }
  }

  .header-pc-nav {

    .header-pc-center {

      .header-pc-menu {

        .header-pc-room {

          a {
            color: #000000;
          }
        }

        .header-pc-food {

          a {
            color: #000000;
          }
        }

        .header-pc-spa {

          a {
            color: #000000;
          }
        }
      }
    }
  }

  .header-sp-right {

    .header-sp-nav {

      .header-sp-right-right {

        .ham {

          .ham-line {
            background-color: #000000;
          }
        }
      }
    }
  }
}
